<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CS.config>
            <setting name="errordumppath" serializeAs="String">
                <value>C:\GIT\Telerik\CS\TestResults</value>
            </setting>
            <setting name="Base_Url" serializeAs="String">
                <value>https://sod.superoffice.com/login</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>21661</value>
            </setting>
            <setting name="DBProvidestringSQL" serializeAs="String">
                <value>Provider=SQLOLEDB;Data Source=10.51.8.81;Initial Catalog=crm21661;Integrated Security=SSPI</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>tharindal@99x.lk</value>
            </setting>
            <setting name="About_Url" serializeAs="String">
                <value>https://sod.superoffice.com/Cust21661/CS/scripts/ticket.fcgi?action=about</value>
            </setting>
            <setting name="BrowserType" serializeAs="String">
                <value>Chrome</value>
            </setting>
        </CS.config>
    </userSettings>
    <applicationSettings>
        <CS.config>
            <setting name="SleepingTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </CS.config>
    </applicationSettings>
</configuration>
