<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CS.config>
            <setting name="DBProvidestringSQL" serializeAs="String">
                <value>Provider=SQLOLEDB;Data Source=xxxxx;Initial Catalog=xxxx;Integrated Security=SSPI;User ID=xxxxxx\xxxxxx;Password=xxxxxxxx</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>tharindal@superoffice.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>21693</value>
            </setting>
            <setting name="errordumppath" serializeAs="String">
                <value>C:\GIT\Telerik\CS\TestResults</value>
            </setting>
            <setting name="Base_Url" serializeAs="String">
                <value>https://xxxxx/login/</value>
            </setting>
        </CS.config>
    </userSettings>
    <applicationSettings>
        <CS.config>
            <setting name="SleepingTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </CS.config>
    </applicationSettings>
</configuration>
